<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Contract">
            <directory>tests/Contract</directory>
        </testsuite>
        <testsuite name="Arch">
            <directory>tests/Arch</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <bootstrap class="Studio\Gesso\PHPUnit\OpenApiCoverageExtension">
            <parameter name="spec_base_path" value="specs"/>
            <parameter name="strip_prefixes" value="/v1"/>
            <parameter name="specs" value="fase-0-openapi"/>
        </bootstrap>
    </extensions>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="DB_DATABASE" value="devfinder_test" force="true"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="JWT_SECRET" value="testing-secret-with-at-least-32-bytes-0123456789" force="true"/>
        <env name="GITHUB_CLIENT_ID" value="test-client-id" force="true"/>
        <env name="GITHUB_CLIENT_SECRET" value="test-client-secret" force="true"/>
        <env name="GITHUB_REDIRECT_URI" value="" force="true"/>
        <env name="APP_WEB_URL" value="https://app.example.test" force="true"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="LOG_CHANNEL" value="null" force="true"/>
    </php>
</phpunit>
